@media screen and (max-width: 426px){
body {
  margin: 0;
  padding: 0;
}
.nav1 {
  text-align: center;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: stretch;
}
.nav2{
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding-left: 0;
}
.nav1 li{
  display: inline-block;
  border: 1px solid;
  border-left: 1px;
  border-right: 1px;
  border-top: 2px solid;
  margin: 0;
  font-size: large;
  padding-left: 15dvh;
  padding-right: 15dvh;
  padding-top: 3dvh;
  padding-bottom: 3dvh;
  color: black;
}
.nav1 li:hover{
  background-color: rgb(235, 69, 69);
  color: white;
}
.nav2 li{
  display: inline-block;
  border: 1px solid;
  border-left: 1px;
  border-right: 1px;
  color: black;
}
.nav2 li:hover{
  color: red;
}
.nav1 li a{
  text-decoration: none;
  color: black;
}
.nav2 li a{
  text-decoration: none;
}
.nav1 , .nav2{
  list-style-type: none;
}
.grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);

}

.item img{
  width: 180px;
  height: 250px;
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.item{
  /* float: left; */
  /* padding: 0; */
  position: relative;
  overflow: hidden;
  list-style-type: none;
  margin: 10px;
}
.caption{
  position: absolute;
  width: 180px;
  height: 250px;
  background: black;
  z-index: 10;
  top: 1px;
  opacity: 0;
  color: white;
  border-radius: 20px;
  margin-left: 10px;
  transition: all 0.6s ease-in-out;
}
.item:hover .caption{
  opacity: 0.6;
}
.movie-name{
  color: yellow;
  font-size: large;
  text-align: center;
}
.movie-date{
  text-align: center;
}
}