* {
  padding: 0;
  box-sizing: border-box;
}

/* ul 태그 부분 */
.poster_list {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.container li {
  position: relative;
}

.container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* 포스터 이미지 li 태그 */
.poster_list li {
  position: relative;
  display: table-cell;
  margin: 0;
  padding: 0;
  float: left;
}

/* ul > li > img */
.poster_list img {
  width: 133px;
  float: left;
  margin: 5px;
  padding: 0;
  z-index: 5;
}

.poster_list .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* 반투명한 배경 색상 및 투명도 조절 가능 */
  opacity: 0;
  transition: opacity 0.5s ease;
}

.overlay:hover {
  opacity: 1;
}

.poster_list .overlay h2, .poster_list .overlay p {
  color: #fff;
  text-align: center;
  font-size: 14px;
}

.poster_list .overlay a {
  display: block;
  text-align: center;
}

@media screen and (min-width: 425px ) {
  .poster_list {
    display: table;
    /* margin-left: auto;
    margin-right: auto; */
  }

  .poster_list li {
    display: table-cell;
    margin: 0;
    padding: 6px;
    padding-left: 30px;
    padding-right: 30px;
    float: left;
  } 
}